body.dark-mode .big-text {
    color: white; /* Text color */
}

body.dark-mode .small-text {
    color: #bfbfbf; /* Text color */
}

body.dark-mode .start-button:hover {
    background-color: #54bbff; /* Lighter blue on hover */
    box-shadow: 0 0 0 6px rgba(65, 175, 249, 0.7); /* Darker shadow on hover */
}

body.dark-mode #screenshot {
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.4);
}