/******************* Dark Mode ********************/

body.dark-mode {
    background-color: #111; /* Dark background */
}

body.dark-mode .top-nav.scrolled {
    background-color: #111; /* Black background on scroll */
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.05); /* Shadow for depth */
}

body.dark-mode .left-top-navbar {
    background-color: #eee; /* Black background */
}

body.dark-mode .username {
    color: rgb(249, 249, 249)
}

body.dark-mode .user-dropdown {
    background-color: #111;
    border: 1px solid #303030;
    box-shadow: 0 4px 18px rgba(255, 255, 255, 0.1);
}

body.dark-mode .dropdown-username {
    color: white;
}

body.dark-mode #list-title {
    color: white; /* Text color */
    background-color: #111; /* Background color */
}

body.dark-mode #list-title:focus {
    border-bottom: 1px solid #eee; /* Underline on focus */
}

body.dark-mode .box {
    background-color: #111;
}

body.dark-mode #taskList li {
    color: white;
    border-bottom: 1px solid #ccc;
}

body.dark-mode .task-input {
    color: white;
}

body.dark-mode #newTaskInput {
    background: #181818;
    border: 1.5px solid #686868;
    color: #eee
}

body.dark-mode #taskList li:hover {
    background-color: rgb(39, 39, 39);
}

body.dark-mode #taskList li:last-child {
    border-bottom: none; /* Remove the bottom border from the last list item */
}

body.dark-mode .circle::before {
    background: #111;
}

body.dark-mode .circle.completed::before {
    background: transparent /* Remove the inner circle fill on click */
}

body.dark-mode .completed {
    color: #6a6a6a !important;
}

body.dark-mode .delete-button {
    filter: invert(1);
}